.container {
  @apply m-4 grid gap-6 sm:mx-6;

  header {
    @apply flex items-center justify-between;
    padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,.25);
    
  }
}

.resumes {
  @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6;
}


.superHeader{
  background:red;
}






.input {
  $bem-block: &;
  width:35%;
  position: relative;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,.25);
  overflow: hidden;
  margin:20px;
  
  &--error {
    border: 3px #CF4135 solid;
  }
  
  &--success {
    border: 3px #15bc74 solid;
  }
  
  &__field {
    width: 100%;
    height: 100%;
    apperance: none;
    outline: none;
    border: 1px #f3f3f3 solid;
    padding-left: 20px;
    vertical-align: middle;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 400;
  }
  
  &__label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #C6C6C6;
    opacity: 0;
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 300;
    transition: .3s;
  }
  
  &__icon-hold {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    
    &--error {
      background: #CF4135;
    }
    
    &--success {
      background: #15bc74;
    }
  }
  
  &__icon {
    color: #707070;
      
    &--error,
    &--success {
      color: #fff;
    }
  }
  
  &__field:not(:placeholder-shown) {
    padding-top: 10px;
  }
  
  &__field:not(:placeholder-shown) ~ &__label {
    opacity: 1;
    top: 17px;
    font-size: .875rem;
  }
}

.button {
  
  margin-top: 20px;
  width: auto;
  outline: none;
  appearance: none;
  background: #fff;
  color: darken(#C6C6C6, 30%);
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,0,0,.25);
  font-family: 'Open Sans';
  font-size: 1rem;
  padding: 20px 40px;
  cursor: pointer;
  transition: .2s ease-in-out;
  
  &:hover {
    color: #333;
    border-color: #333;
    background: rgba(#333, .1);
  }
}