// ChatWindow.module.scss

.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  @apply bg-neutral-100 dark:bg-neutral-800;
 
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .message-container {
    max-height: 250px;
    overflow-y: auto;
  }

  .chat-head{
    background-color: #EA14DA ;
    padding: 10px;
    border-bottom: 2px solid purple;
    color: white;
  }

  .user {
    padding: 10px;
    text-align: right;
    width: fit-content;
    background-color: #EA14DA;
    border-radius: 10px;
  
   
  }

  .bot {
    padding: 10px;
    text-align: left;
   
  }

  .input-container {
    margin-top: 10px;

    input {
      width: 70%;
      padding: 5px;
      margin-right: 10px;
      @apply text-neutral-800 dark:text-neutral-800;
      
    }

    button {
      padding: 5px 10px;
      background-color: #EA14DA;
      color: white;
      
      border: none;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: #EC14AA;
      }
    }
  }
}
